
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    width: 100%;
    position: fixed;
}

.header_items {
    padding: 0 45px 0 35px;
}

.header_nav {
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: white;
    transition: 0.2s;
    z-index: 9999;

}

.header_nav:hover {

    transition: 0.2s;
}

.header_nav:hover .button_log_in {
    background: white;
    transition: 0.2s;
}

.header_nav ul {
    display: flex;
    gap: 15px;
}

.header_nav ul li a {
    width: 70px;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.header_nav ul li a:hover {
    text-decoration: underline;
    color: #007c89;
}

.header_nav .nav_form .fa {
    width: 33px;
    font-size: 25px;
    padding: 0 4px;
}

.button_log_in {
    width: 98px;
    padding: 12px 16px;
    border: 1px solid black;
    background: white;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s;
}

.nav_logo {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.button_log_in:hover {
    background: rgb(226, 226, 226);
}

.button_sign_in {
    border: none;
}

.button_sign_in a {
    width: 188px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 16px;
    background: #007c89;
    color: white;
    text-decoration: none;
}

.nav_form {
    padding: 0 40px 0 63px;
    display: flex;
    gap: 20px;
    align-items: center;
}


.nav_logo .nav_logo_description {
    font-weight: 900;
    font-size: 18px;
    margin: 4px 0 0 4px;
}

.sectionMarketing {
    width: 100%;
    height: 700px;
    align-items: center;
    display: flex;
    background-color: #ffe01b;
}

.sectionMarketing_container {
    max-width: 970px;
    margin: auto;
    display: flex;
    align-items: center;
}

.sectionMarketing_container_h1Title {
    max-width: 440px;
    font-size: 3.375rem;
    line-height: 1;
    font-weight: 300;
    margin-top: 30px;
}

.sectionMarketing_container_description {
    max-width: 440px;
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.btn_sectionMarketing_left {
    padding: 20px 40px;
    font-size: 16px;
    background-color: #007c89;
    border: none;
    color: white;
    font-weight: 600;
    line-height: 1.35;
}

.sectionDoit{
    width: 100%;
    background: #fbeeca;


}

.sectionDoit_container {
    width: 645px;
    margin: auto;
    padding: 120px 0;
    text-align: center;

}

.sectionDoit_title {
    font-size: 54px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.35;
}

.sectionDoit_description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.sectionGetbusiness {
    max-width: 970px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7.5rem;

}

.sectionGetbusiness_container {
    max-width: 970px;
    align-items: center;
    display: flex;
}

.sectionGetbusiness_container_left {
    padding-right: 110px;
    line-height: 1.35;
    text-align: left;
}

.sectionGetbusiness_container_h2Title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.1;
}

.sectionGetbusiness_container_description {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px 0 20px 0;
    line-height: 1.5;
}

.btn_sectionGetbusiness_left {
    padding: 20px 40px;
    background: transparent;
    border-color: #007c89;
    cursor: pointer;
}

.btn_sectionGetbusiness_left:hover{
    border-color:#036874 ; 
}

.btn_sectionGetbusiness_left_description {
    color: #036874;
    font-weight: 600;
}
.whelp{
    max-width: 970px;
    margin: auto;
}
.whelp_descriptionTitle{
    font-size: 3.375rem;
    line-height: 1;
    padding: 40px 0px 50px 0px;
}
.container_whelp{
    display: flex;
    align-items: center;
    padding: 60px 0;
}
.container_whelp_right{
    max-width: 400px;
    padding-left: 80px;
}
.container_whelp_right_title{
    font-size: 34px;
    font-weight: 300;
    line-height: 1.1;
}
.container_whelp_right_description{
    font-size: 19px;
    line-height: 1.35;
    margin-top: 40px;
    margin-bottom: 30px;
}
.grow{
    width: 100%;
    background: #f6f6f4;
    text-align: center;
}

.grow_container{
    max-width: 970px;
    margin: auto;
}
.grow_descriptionTitle{
    font-size: 54px;
    padding-top: 120px;
    margin-bottom: 20px;
    line-height: 1.35;
}
.grow_desciption{
    font-size: 22px;
    padding-bottom: 40px;
    
}
.growBlock{
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}
.growBlock_description{
    font-size: 18px;
    font-weight: 400;
}
.forward{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.imgcard{
    width: 250px;
    padding-top: 90px;
}
.forward_Title{
    width: 483px;
    font-size: 54px;
    margin: auto;
}
.blockTitle{
     font-size: 1.5rem;
     margin-bottom: 20px;
     margin-top: 30px;
}
.blockdescription{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 1.875rem;
}
.blockbtn{
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    border: none;
    color: teal;
}
.blockbtn:hover{
    text-decoration: underline;
    color: rgb(1, 80, 80);
    cursor: pointer;
}
.blockbtn1{
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    border: none;
    color: teal;
    margin-top: 30px;
}
.blockbtn1:hover{
    text-decoration: underline;
    color: rgb(1, 80, 80);
    cursor: pointer;
}
.comes{
    width: 100%;
    background: #fbeeca;
    padding-bottom: 200px;
}
.comesTtitle{
    width: 550px;
    margin: auto;
    font-size: 58px;
    font-weight: 300;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    line-height: 1;
    
}
.aboutMagazine {
    width: 400px;
    line-height: 1.35;
    padding-left: 70px;
}
.aboutMagazine1{
    width: 400px;
    line-height: 1.35;
    padding-right: 70px;
}
.magazine_description{
    padding-top: 20px;
    font-size: 18px;
}
.comesBottom{
    width: 600px;
    margin: auto;
    text-align: center;
}
.comesBottomtitle{
    font-size: 45px;
}
.comesBottomdescription{
    font-size: 18px;
    padding: 20px 0 30px 0;
    line-height: 1.35;
}
.address{
    width: 970px;
    margin: auto;
}
.addressImg{
    text-align: center;
    margin-top: -225px;
}