
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}

.header_items {
    padding: 0 45px 0 35px;
}

.header_nav {
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: white;
    transition: 0.2s;
    z-index: 9999;

}

.header_nav:hover {

    transition: 0.2s;
}

.header_nav:hover .button_log_in {
    background: white;
    transition: 0.2s;
}

.header_nav ul {
    display: flex;
    gap: 15px;
}
@media (max-width: 1100px) {

    .header_nav ul{
        display: none;
    }
}
.header_nav ul li a {
    max-width: 70px;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.header_nav ul li a:hover {
    text-decoration: underline;
    color: #007c89;
}

.header_nav .nav_form .fa {
    width: 33px;
    font-size: 25px;
    padding: 0 4px;
}
.sidenav{
    width: 50px;
    height: 50px;
    display: none;
    padding-left: 15px;
}
@media (max-width: 1100px) {
    .sidenav{
        display: block;
    }
}

.button_log_in {
    max-width: 98px;
    padding: 12px 16px;
    border: 1px solid black;
    background: white;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s;
}

.nav_logo {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.button_log_in:hover {
    background: rgb(226, 226, 226);
}

.button_sign_in {
    border: none;
}

.button_sign_in a {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 16px;
    background: #007c89;
    color: white;
    text-decoration: none;
}

.nav_form {
    padding: 0 40px 0 63px;
    display: flex;
    gap: 20px;
    align-items: center;
}


.nav_logo .nav_logo_description {
    font-weight: 900;
    font-size: 18px;
    margin: 4px 0 0 4px;
}

.sectionMarketing {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    background-color: #ffe01b;
}

.sectionMarketing_container {
    max-width: 970px;
    padding: 120px 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.sectionMarketing_container_h1Title {
    max-width: 440px;
    font-size: 3.375rem;
    line-height: 1;
    font-weight: 300;
    margin-top: 30px;
}


.sectionMarketing_container_description {
    max-width: 440px;
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.btn_sectionMarketing_left {
    padding: 20px 40px;
    font-size: 16px;
    background-color: #007c89;
    border: none;
    color: white;
    font-weight: 600;
    line-height: 1.35;
}
@media (max-width:960px){
    
}

.sectionDoit{
    width: 100%;
    background: #fbeeca;


}

.sectionDoit_container {
    max-width: 645px;
    margin: auto;
    padding: 120px 0;
    text-align: center;

}

.sectionDoit_title {
    font-size: 54px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.35;
}

.sectionDoit_description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.sectionGetbusiness {
    max-width: 970px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7.5rem;

}

.sectionGetbusiness_container {
    max-width: 970px;
    align-items: center;
    display: flex;
}

.sectionGetbusiness_container_left {
    padding-right: 110px;
    line-height: 1.35;
    text-align: left;
}

.sectionGetbusiness_container_h2Title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.1;
}

.sectionGetbusiness_container_description {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px 0 20px 0;
    line-height: 1.5;
}

.btn_sectionGetbusiness_left {
    padding: 20px 40px;
    background: transparent;
    border-color: #007c89;
    cursor: pointer;
}

.btn_sectionGetbusiness_left:hover{
    border-color:#036874 ; 
}

.img_right{
    max-width: 450px;
}

.btn_sectionGetbusiness_left_description {
    color: #036874;
    font-weight: 600;
}
.whelp{
    max-width: 970px;
    margin: auto;
}
.whelp_descriptionTitle{
    font-size: 3.375rem;
    line-height: 1;
    padding: 40px 0px 50px 0px;
}
.container_whelp{
    display: flex;
    align-items: center;
    padding: 60px 0;
}
.container_whelp_right{
    max-width: 400px;
    padding-left: 80px;
}
.container_whelp_right_title{
    font-size: 34px;
    font-weight: 300;
    line-height: 1.1;
}
.container_whelp_right_description{
    font-size: 19px;
    line-height: 1.35;
    margin-top: 40px;
    margin-bottom: 30px;
}
.grow{
    width: 100%;
    background: #f6f6f4;
    text-align: center;
}

.grow_container{
    max-width: 970px;
    margin: auto;
}
.grow_descriptionTitle{
    font-size: 54px;
    padding-top: 120px;
    margin-bottom: 20px;
    line-height: 1.35;
}
.grow_desciption{
    font-size: 22px;
    padding-bottom: 40px;
    
}
.growBlock{
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}
.growBlock_description{
    font-size: 18px;
    font-weight: 400;
}
.forward{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.imgcard{
    max-width: 250px;
    padding-top: 90px;
}
.forward_Title{
    max-width: 483px;
    font-size: 54px;
    margin: auto;
}
.blockTitle{
     font-size: 1.5rem;
     margin-bottom: 20px;
     margin-top: 30px;
}
.blockdescription{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 1.875rem;
}
.blockbtn{
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    border: none;
    color: teal;
}
.blockbtn:hover{
    text-decoration: underline;
    color: rgb(1, 80, 80);
    cursor: pointer;
}
.blockbtn1{
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    border: none;
    color: teal;
    margin-top: 30px;
}
.blockbtn1:hover{
    text-decoration: underline;
    color: rgb(1, 80, 80);
    cursor: pointer;
}
.comes{
    width: 100%;
    background: #fbeeca;

    padding-bottom: 200px;
}
.comesTtitle{
    max-width: 550px;
    margin: auto;
    font-size: 58px;
    font-weight: 300;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    line-height: 1;
    
}
.aboutMagazine {
    max-width: 400px;
    line-height: 1.35;
    padding-left: 70px;
}
.aboutMagazine1{
    max-width: 400px;
    line-height: 1.35;
    padding-right: 70px;
}
.magazine_description{
    padding-top: 20px;
    font-size: 18px;
}
.comesBottom{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.comesBottomtitle{
    font-size: 45px;
}
.comesBottomdescription{
    font-size: 18px;
    padding: 20px 0 30px 0;
    line-height: 1.35;
}
.address{
    max-width: 970px;
    margin: auto;
    padding-bottom: 50px;
}
.addressImg{
    text-align: center;
    margin-top: -225px;
}
.addreddDate{
    max-width: 370px;
    
    
}
.addressBottom{
    display: flex;
    margin: 30px 0 30px 0;
    align-items: center;
    justify-content: space-between;
}
.dateDescription{
    font-size: 20px;
    margin-bottom: 20px;
}
.dateName{
    font-size: 13px;
    color: #727070;
    padding-bottom: 30px;
}
.dateProt{
    display: flex;
}
.addressNum{
    max-width: 130px;
}
.prot{
    font-size: 50px;
}
.numDescription{
    font-size: 16px;
    line-height: 1.35;
    padding-bottom: 20px;
}
.software{
    width: 100%;
    background: #f6f6f4;
    padding:120px 0 250px 0;
}
.softwareMain{
    max-width: 480px;
    margin: auto;
    text-align: center;
}
.softwareDescription{
    font-size: 54px;
    padding-bottom: 20px;
}
.btnSoftware{
    font-size: 15px;
    background: transparent;
    padding: 20px 40px;
    color: #007c89;
    border: 1px solid #007c89;
}
.resources{
    max-width: 970px;
    margin: auto;
    
}
.resourcesImg {
    max-width: 500px;
    margin: -250px auto auto auto;
}
.resourcesMain{
    max-width: 725px;
    margin: auto;
    text-align: center;
}
.resourcesTitle{
    font-size: 55px;
    font-weight: 300;
    margin-top: 30px;

}
.resourcesDescription{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}
.resourcesCard{
    max-width: 1150px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    gap: 10px;

}
.webinarCard{
    width: 100%;
    background-color: #d8eacc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.webinarCardcentre{
    max-width: 370px;
}
.presentsCard{
    max-width: 372px;
    border: 1px solid black;
}

.webinarName{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}
.webinarTitle{
    
    font-size: 56px;
    font-weight: 300;
    text-align: center;
    margin: auto;
    margin-bottom: 2.5rem;
}
.webinarDescription{
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.35;
    letter-spacing: 1px;
    color:#241c15;
}
.btnWebinar{
    margin: auto;
    padding: 20px 40px;
    background: #007c89;
    color: white;
    font-weight: 600;
    border: none;
    display: flex;
    justify-content: center;
}
.presentsInfo{
    padding: 24px;
}
.presentsLogo{
    font-size: 16px;
    padding-bottom: 35px;
}
.presentsName{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;
}
.presentsTitle{
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 15px;
}
.presentsDescription{
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 15px;
}
.presentsLink{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.courierMain{
    max-width: 1150px;
    display: flex;
}
.courier{
    max-width: 350px;
    padding: 20px;
    color: white;
    object-fit: cover;
    background-size: cover;
    background-image: url("https://eep.io/images/yzco4xsimv0y/BReNgBS5yKvZWRHihQG8f/6d75f3d62df93067535426019e42cef4/Homepage-Grid-5.18-courier.jpg?w=780");
}
.courierName{
    font-size: 16px;
    padding-top: 80px;
    padding-bottom: 15px;
}
.courierDescription{
    font-size: 36px;
    padding-bottom: 40px;
    font-weight: 300;

}
.courierLogo{
    max-width: 130px;
}
.courierLink{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
}
.tips{
    width: 100%;
    background: #fdece5;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.tipsImg{
    padding: 30px;
}
.tipsInfo{
    width: 280px;
    padding-top: 60px;
    margin: 15px;
}
.tipsName{
    font-size: 18px;
    padding-bottom: 15px;
}
.tipsTitle{
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 10px;
}
.tipsDescription{
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.smallstep{
    width: 100%;
    background: #ffe01b;
    text-align: center;
    padding: 120px 0px;
    margin-top: 40px;
}
.smallstepTitle{
    font-size: 74px;
    font-weight: 300;
    padding-bottom: 20px;
}
.smallstepDescription{
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 40px;
}
.blockHidden{
    width: 356px;
    height: 100%;
    background: white;
    padding: 40px 32px;
    position: fixed;
    z-index: 10;
    transform: translateX(-100%);
    transition: 0.3s;
}

.blockShown {
    transform: translateX(0);
    transition: 0.3s;
 }


.blockHiddenflexTop{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-bottom: 20px;
}
.blockHiddenflex{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 12px 0;
}
.blockHiddenflex:hover .blockLink , .imgIcon svg{
    color: blue;
    fill:blue;
}
.imgIcon svg{
    fill: black;
}

.blockLink{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.blockHiddenflex:hover ~ .blockLink{
    color: #007c89;
}
.updates{
    padding:35px 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.updatesTitle{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 15px;
}
.updatesDescription{
    font-size: 12px;
    line-height: 1.35;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}
.updatesLinkmain{
    display: flex;
    align-items: center;
    gap: 10px;
}

.updatesLink{
    font-size: 12px;
    color: #007c89;
    text-decoration: none;
}

.btnLogin{
    width: 150px;
    padding: 12px 16px ;
    background: transparent;
    border: 1px solid black;
}
.updatesForm{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.btnSignin{
    width: 150px;
    padding: 12px 16px ;
    background: #036874;
    border: none;
}

@media (max-width: 1100px) {
    .sectionMarketing_container {
        max-width: 970px;
        flex-wrap: wrap;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sectionMarketing_container_h1Title {
        max-width: 780px;
        font-size: 3.375rem;
        line-height: 1;
        font-weight: 300;
        margin-top: 30px;
    }
    .sectionMarketing_container_description {
        max-width: 780px;
        font-size: 24px;
        font-weight: 300;
        margin-top: 30px;
        line-height: 1.4;
        margin-bottom: 30px;
    }
    .sectionMarketing_container_right img{
        width: 780px;
    }
    .sectionDoit_container,.sectionDoit_container_center{
        max-width: 780px;
    }
    
    .sectionGetbusiness_container{
        max-width: 780px;
        flex-wrap: wrap;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .sectionGetbusiness_container_left{
        max-width: 780px;
        order: 2;
        padding: 0;
        
    }
    .sectionGetbusiness_container_h2Title{
        max-width: 780px;
    }
    .sectionGetbusiness_container_description{
        max-width: 780px;
    }
    .sectionGetbusiness_container_right_img img{
        max-width: 780px;
        order: 1;
    }
    
    .comesTtitle{
        max-width: 780px;
        margin: auto;
    }
}