
*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    width: 100%;
}

.header_items{    
    padding: 0 45px 0 35px;
}

.header_nav{
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background:white;
}

.header_nav ul{
    display: flex;
    gap: 10px;
}

.header_nav ul li{
    width: 70px;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
}

.header_nav ul li:hover{
    text-decoration: underline;
    color: #007c89;
}

.header_nav .nav_form .fa{
    width: 33px;
    font-size: 25px;
    padding: 0 4px;
}

.button_log_in{
    width: 98px;
    padding: 12px 16px;
    border: 1px solid black;
    background: white;
    font-size: 16px;
    font-weight: 300;
}

.nav_logo{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.button_log_in:hover{
    background: rgb(226, 226, 226);
}

.button_sign_in{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 16px;
    border: none;
    background: #007c89;
    color: white;
}

.nav_form{
    padding: 0 60px 0 63px;
    display: flex;
    gap: 20px;
    align-items: center;
}


.nav_logo .nav_logo_description{
    font-weight: 900;
    font-size: 18px;
    margin:4px 0 0 4px;
}

.sectionMarketing{
    width: 100%;
    height: 700px;
    align-items: center;
    display: flex;
    background-color: #ffe01b;
}
.sectionMarketing_container{
    max-width: 970px;
    margin: auto;
    display: flex;
    align-items: center;
}

.sectionMarketing_container_h1Title{
    width: 475px;
    font-size: 3.375rem;
    font-weight: 300;
    letter-spacing: 4px;
}
.sectionMarketing_container_description{
    
}

